* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-container {
  width: 100%;
  height: 800px;
}

.img {
  width: 100%;
  height: 200px;
}

.one {
  background-image: url(../chapter6/chapter6_exercise/img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.two {
  background-image: url(../chapter6/chapter6_exercise/img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.three {
  background-image: url(../chapter6/chapter6_exercise/img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.four {
  background-image: url(../chapter6/chapter6_exercise/img/box4.jpg);
  background-size: cover;
  background-position: center;
}

